<footer class="bg-white border-t border-gray-200 text-center px-4 py-3 text-xs text-gray-500">
    <p>&copy; 2026 &mdash; Nodo Tecnológico &mdash; Sprint 5&bull;Trabajo Final &mdash; Capdevila José &mdash; Todos los derechos reservados.</p>
</footer>